# --- FIREBASE ---
FIREBASE_CREDENTIALS="config/firebase-credentials.json"

# --- OBLIGATORIOS (SEGURIDAD) ---
# Generar con: openssl rand -hex 32
SECRET_KEY="tu_clave_secreta_super_segura"
ADMIN_SECRET_TOKEN="token_para_operaciones_admin"
DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.tjigegwhynsgqbjimnhl.supabase.co:5432/postgres"
BASE_URL="http://localhost:8000"

# --- CREDENCIALES IA ---
GROQ_API_KEY="gsk_tu_llave_de_groq_aqui"

# --- OPCIONALES (Para sobreescribir defaults) ---
# DEBUG=False
# PORT=8080
